.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 5px;
}

.modal-header-name{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-content {
    background-color: #fefefe;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 80%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}


.container-modalAdd {
    width: 100%;
    height: 97%;
}

.description {
    width: 100%;
}