.property-title {
    margin: 5px 0 5px 5px;
    font-size: 1.3em;
    font-weight: bold;
    color: #454545;
}

.line {
    background: #4F6D7A;
    display: flex;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-property {
    width: 100%;
    padding: 0 10px 0;
}

.user {
    background: white;
    font-weight: bold;
    font-size: 0.9em;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}